version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
      - "5173:5173"
    environment:
      - DB_HOST=db
    depends_on:
      - db
      




  db:
    image: mysql:8.0.37
    restart: always
    ports:
    - "3306:3306"
    hostname: db
    environment:
      MYSQL_ROOT_PASSWORD: laravel
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
