.panel_cont{

display: flex;

}
.form_bg{
height:500px;
width:300px;
background-color: rgba(230, 230, 240, 1.0);
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
display: box;
margin:20px;
}

.form_title{
padding:5px;
display:flex;
text-align: center;
justify-content: center;
width:100%;
}

.from_input_cont{
margin:5px;
}

.form_input_text{
margin:5px;
}

.form_input_input{


width:100%;
height:30px;
}
